.foot-social {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.social__item {
  margin: 0 25px 0 0;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }
}

.foot-social__link {
  margin: 0;
  padding: 0;
}
