.main-page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page__gym {
  max-width: 1160px;
}

.main-page__membership {
  margin: 0;
  width: 100%;
}

.main-page__advert {
  max-width: 1160px;
  margin: 0;
}

.main-page__coaches {
  margin: 120px 0;
}

.main-page__advantages {
  margin: 0;
  width: 100%;
}

.main-page__sales {
  margin: 120px 0;
  max-width: 1160px;
}

.main-page__reviews {
  margin: 0 0 120px 0;
  max-width: 1160px;
}

.main-page__columns-container {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.main-page__free-training {
  width: 100%;
  margin: 0;
}

.main-page__contacts {
  width: 100%;
  margin: 0;
}
// EOF
